
# Move/rename this file to ~/.tmux.conf.local, where it is included from the
# main ~/.tmux.conf
#
# Renaming is important so that you don't accidentally overwrite your specific
# local version with the git-tracked version
#
# Each of your machines can then locally include a different file which uses
# "-c" args to cd to different dirs

#===============================================================================
# session initialisation
#
# run "tmux a" to attach to a new session with this as the default

# first pane in git dir
new-session -s session -n bash -c "/mnt/c/git" "bash"

# second pane in whichever dir tmux is launched in
split-window -h -p 50 -c "." "bash"

# third pane in home dir
split-window -v -p 50 -c "~" "bash"

# other panes default to the session"s dir (git)
new-window "nvim"
#new-window "bash"

select-window -t 0
select-pane   -t 0

#===============================================================================

# theme override
set -g status-bg "#dd66aa"

